<mat-list role="list">

    <div class="profile-card">
        <img src="https://coryrylan.com/assets/images/posts/types/angular-800x800.png" alt="no image">
        <h3>Admin</h3>
    <h4>admin@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>

    <h4 mat-subheader >Pages</h4>
 

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Institution</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Students</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Placements</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Stastics</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Courses</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/" >Employees</a>

  </mat-list>

